/* For most modern browsers */
.both-messages {
    /* overflow-y: scroll; */
    /* Ensure scrolling works */
    /* scrollbar-width: none; */
    /* For Firefox */
    /* -ms-overflow-style: none; */
    /* For Internet Explorer and Edge */
}

/* 
.both-messages::-webkit-scrollbar {
    display: none;  For Chrome, Safari, and Edge 
} */

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-columns: 2fr 8fr;
    /* background-color: rgb(221, 65, 65); */
}

body::-webkit-scrollbar {
    display: none;
}

.users {
    display: grid;
    height: 100vh;
    /* background-color: rgba(128, 0, 128, 0.445); */
    background-color: rgba(0, 0, 255, 0.527);
    grid-template-rows: 1fr 9fr;
    overflow: scroll;
    scrollbar-width: none;
    scrollbar-color: rgba(0, 0, 255, 0.733);
    -ms-overflow-style: none;
}

.users::-webkit-scrollbar {
    width: 1vmin;
}

.users::-webkit-scrollbar-track {
    background-color: rgb(211, 214, 224);
}

.users::-webkit-scrollbar-thumb {
    background-color: rgb(59, 91, 230);
    border-radius: 10%;
}

.choose {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(250, 235, 215, 0.521);
    border-right: 2px solid rgba(0, 0, 0, 0.527);
}

.list {
    width: 100%;
    /* background-color: rgb(0, 0, 0); */

    &>ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        color: rgb(228, 207, 89);
        border-right: 2px solid rgba(0, 0, 255, 0.527);

    }
}

ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vmin;
}

ul::-moz-selection {
    background-color: black !important;
    color: white !important;
}

ul>li {
    width: 100%;
    height: 15% !important;
    font-size: 80%;
    background-color: rgba(0, 0, 0, 0.29);
    margin: 1% 0 0 0;
    font-family: cursive;
    font-size: 1rem;
    padding: 1%;
    border-radius: 5%;
    display: grid;
    grid-template-columns: 7fr 3fr !important;
    transition: all .5s ease;
    text-overflow: ellipsis;
    overflow: hidden;

    &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.5);
    }

    &:active {
        background-color: rgba(0, 0, 255, 0.8);
        color: white;
    }
}

ul>li>.name {
    /* border: 1px solid red; */
    height: 100%;
    display: flex;
    align-items: center;
    /* justify-content: start; */
    font-size: 1.5rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow-y: hidden;
}

ul>li>.profile {
    height: 100%;
    max-width: 100%;
    max-height: 100%;

    width: 100%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

ul>li>.profile>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}


.chat-section {
    height: 100vh;
    content: "section";
    /* background-color: rgba(0, 26, 255, 0.637); */
    /* border: 1px solid blue; */
    display: grid;
    grid-template-rows: 1fr 8fr;
    gap: 1%;
}

.know-about {
    width: 100%;
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    gap: 5%;
    /* gap: 2%; */
    height: auto;
    position: relative;
}

.close-chat {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    background-color: rgba(255, 0, 0, 0.541);
    border-radius: 50%;

    &:hover {
        cursor: pointer;
        background-color: rgba(255, 0, 0, 0.1);
        color: red;
    }
}

.first-person,
.second-person {
    /* border: 1px solid red; */
    background-color: rgb(59 107 235 / 59%);
    display: grid;
    grid-template-columns: 20% auto;
    gap: 10%;
    align-items: center;

}

.profile-name {
    display: flex;
    align-items: center;
    justify-content: start;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: 100%;
    border-left: 1px solid #0017ff;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    /* background-color: rgba(0, 68, 255, 0.486); */
    background-color: rgb(59 107 235 / 28%);


    font-family: "Kanit", serif;
    font-weight: 900;
    font-style: normal;
}


.second-person {
    grid-template-columns: 20% 70%;
    gap: 10%;
}

.first-person>.profile-pic,
.second-person>.profile-pic {
    max-width: 100%;
    height: 100%;
    /* border-right: 1px solid black; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic>img {
    width: auto;
    height: 100%;
    object-fit: cover
}





.inner-chat {
    opacity: 0.9;
    width: 100%;
    /* background-color: rgb(30, 255, 0);*/
    /* border: 1px solid rgb(17, 0, 255); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-chat>.chat-to {
    height: 100%;
    width: 100%;
    /* background-color: rgba(0, 255, 21, 0.589); */
    /* border: 1px solid rgb(30, 255, 0); */
    display: grid;
    grid-template-rows: 8.5fr 1.5fr;
}

.inner-chat>.chat-to>.show-message {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}

.inner-chat>.chat-to>.show-message>.both-messages {
    height: 100%;
    width: 100%;
    background-color: rgb(0 46 255 / 62%);
    display: grid;
    grid-template-columns: 5fr 5fr;
    gap: 2%;
    /* display: flex; */
}

.sections {
    background-color: rgba(255, 255, 255, 0.2);
    display: grid;
    grid-template-rows: 1fr 8fr;
    gap: 1fr;
    height: 100% !important;
    max-height: 80vh;
    overflow-y: auto;

    &>.heading {
        background-color: rgba(0, 0, 0, 0.603);
        color: aliceblue;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.all-texts::-webkit-scrollbar {
    width: 2vmin;
}

.all-texts::-webkit-scrollbar-track {
    background-color: rgb(107, 129, 202);
}

.all-texts::-webkit-scrollbar {
    background-color: blue;
    width: 100%;
}

.sections>.all-texts {
    /* border: 1px solid ORANGERED; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 10px;
    overflow: auto;
    height: 100% !important;
}

.sections>.all-texts>.go {
    min-height: auto;
    min-width: auto;
    max-width: 90%;
    height: auto;
    width: auto;
    max-height: none;
    /* border: 1px solid; */
    padding: 1%;
}

.sections>.all-texts>.go>.text {
    background-color: rgba(0, 0, 255, 0.2);
    outline: 2px solid rgba(0, 0, 255, 0.5);
    height: auto;
    width: auto;
    color: white;
}

.inner-chat>.chat-to>.send-messages {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.363);
}

.inner-chat>.chat-to>.send-messages>.text-section {
    height: 99%;
    width: 100%;
    background-color: rgb(0 46 255 / 62%);
    display: grid;
    grid-template-columns: 9.5fr .5fr;
    /* border-radius: 2%; */
    /* padding: .5%; */
}

.text-section>input {
    /* border-radius: 5%; */
    /* border: 1px solid black !important; */
    height: 100%;
    /* width: 90%; */
    background-color: rgba(237, 237, 238, 0);
    /* left:2%; */
    border: none;
    font-size: 1.5rem;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;

    &:active {
        outline: none;
        border-color: blue !important;
    }
    
    &::placeholder {
        color: rgba(0, 0, 0, 0.37);
        font-style: italic;
        font-size: 2rem;
    }
}

.inner-chat>.chat-to>.send-messages>.text-section>.send-image {
    border-radius: 20%;
    font-size: 5rem;
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    font-size: xx-large;
    color: rgb(21, 255, 0);
}

.send-icon {
    font-size: xx-large;
    color: black;

    &:active {
        color: blue;
        border: red;
        /*Now Working*/
    }
}

.design {
    height: 100%;
    width: 80%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 20%;
    transition: all 2s ease;
    display: flex;
    justify-content: center;
    align-items: center;

    &>.cnat {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 255, 0.397);

        &>img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}