/* For most modern browsers */
* {
    overflow-y: scroll;
    /* Ensure scrolling works */
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
}

/* 
.both-messages::-webkit-scrollbar {
    display: none;  For Chrome, Safari, and Edge 
} */

* {
    margin: 0;
    padding: 0;

    &::selection {
        background-color: rgba(21, 35, 231, 0.562);
        color: rgb(0, 0, 0);

    }
}

body {
    height: 100vh;
    width: 100vw;
    /* background-image: url(https://avatars.githubusercontent.com/u/177410658?v=4); */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-size: contain; */
    /* filter: blur(2px); */
}

.background-image-div {
    position: absolute;
    /* background-color: red;*/
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
}

.info {
    height: 40%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.356);
}

.heading {
    height: 20%;
    width: 100%;
    font-size: 1rem;
    /* background-color: red; */
    /* text-overflow: ellipsis; */
    font-family: "Roboto Condensed", sans-serif;
    display: flex;
    align-items: center;
    justify-content: start;

    &>h1 {
        margin: 0 0 0 1%;
    }
}

.content {
    height: 80%;
    width: 100%;
    /* background-color: rgba(255, 255, 0, 0.842); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 180;
    font-style: normal;
    text-transform: uppercase;
    text-shadow: blue 1px 0 .5vmin;

}

.highlight {
    color: green !important;
    font-weight: 400;
    text-shadow:  none !important;
}

.use {
    height: 60%;
    width: 100vw;
    /* background-color: rgba(48, 224, 127, 0.404); */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vmin;

    &>.slides {
        filter: blur(2vmin);
        z-index: 1;
        transition: all 1s ease;
    }

    &>.slides:hover {
        filter: none;
        z-index: 2;
    }
}

.slides>.use-heading{
    filter:drop-shadow(5);
}

.login {
    height: 100%;
    /* background-color: rgba(30, 255, 0, 0.445); */
    background-color: rgba(0, 0, 255, 0.375);
    transform-origin: left;
    padding: 2%;
    display: grid;
    grid-template-rows: 1fr 9fr;

    &:hover {
        transform: scaleX(1.1);
    }

    /* &>form {
        background-color: rgb(194, 121, 121);
    } */

    &>.login-heading {
        /* background-color: aqua; */
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-family: "Kanit", sans-serif;
    }
}


.signup {
    height: 100%;
    /* background-color: rgba(0, 255, 255, 0.5); */
    background-color: rgba(0, 0, 255, 0.375);
    transform-origin: right;
    transition: all 1s ease;
    padding: 2%;
    display: grid;
    grid-template-rows: 1fr 9fr;

    &:hover {
        transform: scaleX(1.1);
        /* Scale towards the right */
    }

    /* &>form {
        background-color: rgb(194, 121, 121);
    } */

    &>.signup-heading {
        /* background-color: aqua; */
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-family: "Kanit", sans-serif;
    }
}